<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Todo List</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1 class="heading">Work List</h1>
    <div class="container">
        <div class="items">
            <% for( let index = 0; index < list.length  ; index++ ) { %>
                <div class="itemsName">
                <ul class="centre">
                    <input type="checkbox" class="inpt">
                    <li class="listName"><%= list[index]%></li>    
                </ul>
                </div>
            <% } %>
        </div>
            <form action="/items" method="POST" class="ff">
                <input type="text" name="items" id="newItems" placeholder="Make work list" autocomplete="off">
                <button class="btn">+</button>
            </form>
        </div>
    </div>

</body>
</html>